body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.calculator {
    color: #9A9A9A;
    display: inline-block;
    background-color: #191919;
    border-radius: 20px;
    padding: 30px;
}

.display {
    text-align: right;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 2px solid #303030;
    border-top: 2px solid #303030;
    padding: 15px 0px;
}

.display .display__lastOperation {
    margin-top: 0;
    margin-bottom: 40px;
}

.display .display__history {
    font-size: 13px;
    margin: 2px auto;
    color: white;
}

.display .display__current {
    font-size: 27px;
    margin: 2px auto;
    color: white;
}

.button {
    font-size: 16px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: inherit;
    box-shadow: none;
    border-style: solid;
    border: 1px solid #323232;
    display: inline-block;
    outline: none;
}

.button.button--secondary {
    background-color: #303030;
    border-color: #303030;
    color: #9A9A9A;
}

.button.button--primary {
    background-color: #FF7555;
    border-color: #FF7555;
    color: white;
}

.keyboard .button:not(:first-child) {
    margin-left: 5px;
}

.keyboard .button:not(:last-child) {
    margin-right: 5px;
}

.keyboard .keyboard__row:not(:last-child) {
    margin-bottom: 5px;
}